<h2>Your Goals</h2>
<form>
  <div class="form-row">
  <div class="form-group">
    <label for="targetGoal">Target Goal</label>
    <input type="text" id="targetGoal" name="targetGoal" [(ngModel)]="goal.targetGoal"  class="small-input">
  </div>

  <div class="form-group">
    <label for="startWeight">Start Weight</label>
    <input type="text" id="startWeight" name="startWeight" [(ngModel)]="goal.startWeight" class="small-input">
  </div>
  </div>

  <div class="form-row">
  <div class="form-group">
    <label for="startDate">Start Date</label>
    <input type="date" id="startDate" name="startDate" [(ngModel)]="goal.startDate" class="small-input">
  </div>

  <div class="form-group">
    <label for="endDate">End Date</label>
    <input type="date" id="endDate" name="endDate" [(ngModel)]="goal.endDate" class="small-input">
  </div>
  </div>

  <div class="form-group">
    <label for="status">Status</label>
    <select id="status" name="status" [(ngModel)]="goal.status" class="small-input">
      <option value="in progress">In Progress</option>
      <option value="completed">Completed</option>
      <option value="not started">Not Started</option>
    </select>
  </div>

  <button type="submit" (click)="addGoal()">Add Goal</button>
</form>

<table mat-table [dataSource]="dataSource" class="goals-table">
  <!-- Target goal Column -->
  <ng-container matColumnDef="targetGoal">
    <th mat-header-cell *matHeaderCellDef>Target Goal</th>
    <td mat-cell *matCellDef="let element">{{element.targetGoal}}</td>
  </ng-container>

  <!-- Start Weight Column -->
  <ng-container matColumnDef="startWeight">
    <th mat-header-cell *matHeaderCellDef>Start Weight</th>
    <td mat-cell *matCellDef="let element">{{element.startWeight}}</td>
  </ng-container>

  <!-- Start Date Column -->
  <ng-container matColumnDef="startDate">
    <th mat-header-cell *matHeaderCellDef>Start Date</th>
    <td mat-cell *matCellDef="let element">{{element.startDate}}</td>
  </ng-container>

  <!-- End Date Column -->
  <ng-container matColumnDef="endDate">
    <th mat-header-cell *matHeaderCellDef>End Date</th>
    <td mat-cell *matCellDef="let element">{{element.endDate}}</td>
  </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let element">{{element.status}}</td>
    </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  <!-- <thead>
    <tr>
      <th>#</th>
      <th>Target Goal</th>
      <th>Start Weight</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let g of goals; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ g.targetGoal }}</td>
      <td>{{ g.startWeight }}</td>
      <td>{{ g.startDate }}</td>
      <td>{{ g.endDate }}</td>
      <td>{{ g.status }}</td>
    </tr>
  </tbody> -->

</table>
