<div class="login-container">
  <div class="login-box">
    <div mat-dialog-title>
      <h2>Register</h2>
    </div>
  <mat-form-field>
    <mat-label>First Name</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Last Name</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Gender</mat-label>
    <mat-select>
      <mat-option value="one">Male</mat-option>
      <mat-option value="two">Female</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
  <mat-label>email</mat-label>
  <input matInput>
</mat-form-field>
<div mat-dialog-actions>
  <button mat-raised-button color="warn" style="margin-right: 16px;">Cancel</button>
  <button mat-raised-button>Register</button>
</div>
</div>
</div>